@page
@model MyApp.Namespace.CrearEstacionModel
@{
}

<h1>CREAR NUEVA ESTACION</h1>
<section id="DatoEsta">
 <form>
    <p>ingrese codigo nueva ESTACION<input type="text"name=CodEsta></p>
    <h6>otros datos</h6>
    <p>fecha de montaje <input type="date" name="FechEsta"></p>
    <p>ingrese Tecnico nueva ESTACION <input type="text" name="TecEsta"></p>
    <p>ingrese Supervisor nueva ESTACION <input type="text" name="SupEsta"></p>
</form>
</section>
<section id="GeoEsta">
<form>
    <h6>georeferenciacion</h6>
    <p>ingrese Latitud nueva ESTACION<input type="text"name=LatEsta></p>
    <p>ingrese Longitud nueva ESTACION<input type="text"name=LongEsta></p>
    <p>ingrese Municipio nueva ESTACION<input type="text"name=MunEsta></p>
    <p>ingrese Departamento nueva ESTACION<input type="text"name=DepEsta></p>
    <p><input type="submit" value="crear"></p>
</form>
</section>